
@use "base" as *;
@use "components" as *;
@use "layouts" as *;
@use "pages" as *;
@use "partials" as *;




// top slide css start 
.top-slider{
    background: $bg-white;
    .top-slider-wrap{
        .slide-img{
            // height: 40rem;
            height: auto;
            object-fit: cover;
            width: 100%;
        }

        .carousel-inner{
            .carousel-item{
                position: relative;
                .carousel-caption {
                    position: absolute;
                    right: 15%;
                    bottom: 50%;
                    transform: translateY(50%);
                    left: 15%;
                    padding-top: 24px;
                    padding-bottom: 24px;
                    text-align: center;

                    .heading, .sub-heading, .text {color: $white;}
        
                }
            }
        }

    }
}


.services{
    img{width: 100%; height: 424px; object-fit: cover;}
}


// about
.about{
    background: $primary;

    img{
        width: 100%;
        height: 524px;
        object-fit: cover;
    }

    .section-heading, .section-title, .text{
        color: $white;
    }

    
}

// product-sliders css start 
.product-sliders{
    background: $bg-white;
    
}
.view-all{
    position: absolute;
    right: 0;
    top: 1.2rem;
    font-size: .875rem;
    font-weight: $medium;
    // color: $dark;
}

.testimonial-sliders{
    background: $bg-white;
}

.newsletter{
    background: $bg-light;
}



// before css 






// slider-3items start 
.slider-3items{
    // background: $bg-white;
    .slider-3items-wrap{

        .product-card{
            box-shadow: $shadow;
            height: 100%;
            img{
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}





// media css start 
@media (max-width: 1400px) {
    
    // slider-3items start 
    .slider-3items{
        .slider-3items-wrap{
            .slide-thum-img{
                height: 100%;
            }
        }
    }
}


@media (max-width: 1200px) {

    // categories css start 
    .categories{
        .slider-container{
            .slider-wrapper{
                .product-card{
                    .btn{
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: .8rem;
                    }
                }
            }
        }
    }

    // product-sliders css start 
    .product-sliders{
        .view-all{
            top: 1rem;
            font-size: .875rem;
        }
    }

    // youtube-video start 
    .youtube-video{
        background: $bg-white;
        .video-wrap{
            .video-cover{
                width: 100%;
            }
        }
    }
}


@media (max-width:992px) {
    
    // categories css start 
    .categories{
        .slider-container{
            .slider-wrapper{
                .product-card{
                    height: 12rem;
                    .btn{
                        left: 50%;
                        transform: translateX(-50%);
                        font-size: .7rem;
                        padding: 0.3 .4rem  ;
                    }
                }
            }
        }
    }

    // product-sliders css start 
    .product-sliders{
        .view-all{
            top: .7rem;
            font-size: .85rem;
        }
    }
    // about start 
    .about{
        .about-wrap{
            height: 18rem;
        }
    }

}

@media (max-width: 768px) {
     // product-sliders css start 
     .product-sliders{
        .view-all{
            top: .45rem;
            font-size: .75rem;
            right: .8rem;
        }
    }

    // about start 
    .about{
        .about-wrap{
            height: 14rem;
        }
    }

}

@media (max-width: 576px) {
    // categories css start 
    .categories{
        .slider-container{
            .slider-wrapper{
                .product-card{
                    .btn{
                        font-size: .65rem;
                        padding: .2rem .5rem;
                    }
                }
            }
        }
    }

    // about start 
    .about{
        .about-wrap{
            height: 10rem;
        }
    }

}





// boostrap css link 
@import url(../node_modules/bootstrap/dist/css/bootstrap.css);
@import url(../node_modules/bootstrap/scss/bootstrap.scss);